$background-color: rgb(238, 239, 235);

:host {
    display: block;
    height: 100vh;
    background-color: $background-color;
    background-image: url('/assets/images/background/background.svg');
    background-size: cover;
}

.landing-container {
    padding: 5em;
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
}

.memory-game {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1.5em;

    app-card {
        &:hover {
            transform: translateY(-8px);
        }
    }

    app-card:nth-child(n+6) {
        &:hover {
            transform: translateY(8px);
        }
    }
}

.grid-span-2 {
    grid-column: span 2;
    grid-row: span 2;
}

.sign-up {
    grid-column: span 3;
}

@media only screen and (max-width: 1000px) {
    .landing-container {
        padding: 2.5em;
        padding-bottom: 1em;
        display: grid;
        grid-template-columns: 1fr;
        gap: 4em;
    }

    .info {
        grid-row-start: 1;
    }

    .memory-game {
        grid-row-start: 2;
        grid-column: span 1;
    }

    .coming-soon {
        grid-row-start: 3;
        grid-column: span 1;
    }

    .sign-up {
        grid-row-start: 4;
        grid-column: span 1;
    }
}