<div class="landing-container">
    <section class="memory-game grid-span-2">
        <app-card *ngFor="let card of gameState$ | async" [config]="card" (cardClicked)="onCardClick(card)"></app-card>
    </section>
    <section class="info">
        <button>replay</button>
        <h1>The perfect place to <strong>buy & sell</strong> premium, pre-loved fashion for little ones!</h1>
    </section>
    <section class="comming-soon">
        <h2><strong>Delivering something sweet, real soon! </strong>Join the  hive to stay in the loop.</h2>
    </section>
    <section class="sign-up">
        <app-sign-up></app-sign-up>
    </section>
</div>