@use '@angular/material' as mat;

.sign-up-container, .message-container {
    background-color: white;
    border-radius: 1em;
    padding: 2em;

    @include mat.elevation(2);
}

.message-container {
    position: relative;
    button {
        position: absolute;
        top: 1em;
        right: 1em;

        background-color: rgb(239, 236, 234);
        padding: .5em;
        border-radius: 1em;
        padding-bottom: 0;
        cursor: pointer;
        transition: all 400ms;
        &:hover {
            transform: translateY(-4px);
            color: black;
            background-color: rgb(255,214,1);
            @include mat.elevation(4);
        }
        &:active {
            transform: none;
            @include mat.elevation(0);
        }
    }
    .mat-icon {
        font-weight: 900;
    }
}

.message {
    h2 { 
        font-size: xx-large;
    }
    text-align: center;
}

.sign-up-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: row;
    gap: 3em;
}


.form-fields,
.checkbox-container {
    display: flex;
    flex-direction: column;
}

.form-fields {
    gap: .5em;
    width: 400px;

    input {
        all: unset;
        background-color: rgb(239, 236, 234);
        padding: .5em;
        border-radius: 1em;
        font-size: 16px;
        padding-left: 2em;
        border: 2px solid white;

        &::placeholder {
            color: black;
            font-size: 16px;
        }
        &:focus {
            border: 2px solid black;
        }
        &.ng-invalid.ng-touched {
            border: 2px solid rgb(238,140,144);
        }
    }
}
button {
    all: unset;
}

.sign-up-button {
    color: white;
    background-color: rgb(82, 177, 179);
    padding: .8em;
    width: 100px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-radius: 1em;
    transition: all 400ms;
    @include mat.elevation(2);

    &:hover {
        transform: translateY(-4px);
        color: black;
        background-color: rgb(255,214,1);
        @include mat.elevation(4);
    }
    &:active {
        transform: none;
        @include mat.elevation(0);
    }
}

